* {
    margin: 0;
    padding: 0;
}

.wrap {
    font-family: 'Noto Serif', serif;
    background-color: rgb(241,241,241);
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgb(204,204,204);
}

header {
    background-color: white;
}
.header-text{
    text-align: center;
    margin: 0px 20px;
    padding:15px;

}
.header-img {
    position: relative;
    object-fit: cover;
}
header button{
    background-color: rgba(161,161,161,0.7);
    padding: 15px;
    font-size:12px;
}

header .img-text {
    position: absolute;
    font-size: xx-large;
    line-height: 1.5;
    margin-left: 15px;
    top: 480px;
    text-align: left;
    padding: 20px 15px;
    line-height: 2;
}

main {
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.main-left {
    width: 65%;

}

.main-right {
    width: 33%;
}

.section {
    margin: 20px 10px 25px;
    line-height: 2;
    background-color: white;
    padding: 15px;
}

.section-title{
    text-align: center;
}

.section img {
    object-fit: cover;
}

.section-content {
    padding-bottom: 10px;
}

.section-act{
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.section-follow{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section-follow .img-follow{
    width:10%;
    margin: 5px;
}
.section-follow .text-follow{
    margin-left: 30px;
    width: 85%;
    font-size: small;
}
.section-right {
    margin: 20px 10px 25px;
    line-height: 2;
    background-color: black;
    color: white;
}
.section-right .title-right{
    padding: 10px;
}
.section-follow-right{
    /* margin: 5px; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    background-color: white;
    border-top: 1px solid rgb(204,204,204);
    color: black;
}
.advertise{
    margin: 5px;
    background-color: rgb(241,241,241);
    width:95%; 
    padding: 80px 5px;
    text-align: center;
}
.section-follow-right .img-follow-right{
    width:20%;
    margin: 5px;
}
.section-follow-right .inspiration{
    margin:15px;
    /* padding: 15px; */
}
.section-follow-right .text-follow-right{
    margin-left: 30px;
    width: 75%;
    font-size: small;
    color:black;
    background-color: white;
}
.section-right .tag{
    background-color: white;
}
.section-right .tag button{
    border: none;
    color:black;
    margin: 2px;
    padding: 3px;
    font-size: 10px;
}
footer{
    background-color: rgb(97,97,97);
    color:white;
    padding: 20px;
}
footer p,span{
    padding: 5px;
}

@media only screen and (max-width: 600px) {

    body {
        font-family: 'Noto Serif', serif;
        background-color: rgb(241,241,241);
        width: 80%;
        margin: 0 auto;
        border: 1px solid rgb(204,204,204);
    }
    
    header {
        background-color: white;
    }
    .header-text{
        text-align: center;
        margin: 0px 10px;
        padding: 5px;
    }
    .header-img {
        position: relative;
        object-fit: cover;
    }
    header button{
        background-color: rgba(161,161,161,0.7);
        padding: 5px;
        font-size:10px;
    }
    
    header .img-text {
        position: absolute;
        font-size: x-large;
        line-height: 1.5;
        margin-left: 15px;
        top: 230px;
        text-align: left;
        padding: 20px 15px;
        line-height: 2;
    }
    
    main {
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
    }
    
    .main-left {
        width: 65%;
    
    }
    
    .main-right {
        width: 33%;
    }
    
    .section {
        margin: 10px 3px 15px;
        line-height: 2;
        background-color: white;
        padding: 15px;
    }
    
    .section-title{
        text-align: center;
        font-size: 8px;
    }
    
    .section img {
        object-fit: cover;
    }
    
    .section-content {
        padding-bottom: 10px;
        font-size: 10px;
    }
    
    .section-act{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    
    }
    .section-follow{
        margin: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .section-follow .img-follow{
        width:10%;
        margin: 5px;
    }
    .section-follow .text-follow{
        margin-left: 30px;
        width: 85%;
        font-size: 10px;
    }
    .section-right {
        margin: 10px 3px 15px;
        line-height: 2;
        background-color: black;
        color: white;
    }
    .section-right .title-right{
        padding: 5px;
        font-size: 10px;
    }
    .section-follow-right{
        display: flex;
        justify-content: space-around;
        background-color: white;
        border-top: 1px solid rgb(204,204,204);
        color: black;
    }
    .advertise{
        margin: 2px;
        background-color: rgb(241,241,241);
        width:95%; 
        padding: 20px 2px;
        text-align: center;
        font-size: 10px;
    }
    .section-follow-right .img-follow-right{
        width:30%;
        margin: 5px;
    }
    .section-follow-right .inspiration{
        margin:5px;
    }
    .section-follow-right .text-follow-right{
        margin-left: 5px;
        width: 65%;
        font-size: 10px;
        color:black;
        background-color: white;
    }
    .section-right .tag{
        background-color: white;
        padding: 1px;
    }
    .section-right .tag button{
        border: none;
        color:black;
        margin: 1px;
        padding: 1px;
        font-size: 8px;
    }
    footer{
        background-color: rgb(97,97,97);
        color:white;
        padding: 10px;
    }
    footer p,span{
        padding: 3px;
        font-size: 8px;
    }
  }
